<div class="container">
  <div class="filter-row">

    <mat-form-field class="input" appearance="outline">
      <input matInput type="text" placeholder="Search Reports" />
      <mat-icon matSuffix class="material-icons">search</mat-icon>
    </mat-form-field>

    <div class="button-group">
      <mat-icon (click)="sortReports()"
                [class.sorted]="sorted"
      >sort_by_alpha</mat-icon>

      <mat-button-toggle-group  [value]="filteredGroupId" name="filters" aria-label="filters" multiple>
        <mat-button-toggle
          *ngFor="let group of reportGroups"
          (change)="filterGroup(group.id)"
          [value]="group.id"
          [matTooltip]="group.groupName"
          matTooltipPosition="above"
          matTooltipShowDelay="250"
        ><mat-icon [fontIcon]="group.iconUrl"></mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
    </div>

  </div>

<!--  <ng-container *ngIf="pinnedReports.length > 0">-->
<!--    <span class="title">Pinned Reports</span>-->
<!--    <ng-container [ngTemplateOutlet]="reportList" [ngTemplateOutletContext]="{report: pinnedReports}"></ng-container>-->
<!--  </ng-container>-->

<!--  <ng-container>-->
<!--    <span class="title"> {{ filteredGroupId !== undefined || hasSearchText ? 'Filtered' : 'All' }} Reports </span>-->
<!--    <ng-container [ngTemplateOutlet]="reportList" [ngTemplateOutletContext]="{report: unpinnedReports}"></ng-container>-->
<!--  </ng-container>-->

<!--  <ng-template #reportList >-->
    <div class="reportList-container" *ngFor="let group of reportGroups">
      <mat-card class="report clickable"
                (click)="goToReport(report)"
                *ngFor="let report of allReports; let i = index">
        <mat-icon class="report-icon">summarize</mat-icon>
        <div class="report-info">
          <p class="group-name">{{ group.groupName }}</p>
          <p class="report-name">{{ group.reports[i].displayName }}</p>
          <p class="sub-title">{{ group.reports[i].description }}</p>
        </div>
      </mat-card>
    </div>
<!--</ng-template>-->

</div>
