:host {
  display: block;
  padding: 10px;
}

mat-card {
  &.report {
    margin: 15px 0;
    padding: 3px 0;
    display: flex;
    flex-direction: row;

    &:hover {
      opacity: 1;
    }
  }
}

div.report-container {
  padding-bottom: 25px;
}

.filter-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
}

.report-name {
  color: #707070;
  font-size: 16px;
}

.sub-title {
  font-size: 12px;
}

.group-icon {
  pointer-events: none;
  margin-left: 10px;
}

.report-info {
  overflow: hidden;
}

.sort {
  padding-right: 1rem;
}
